@model Week2Week.Models.TransactionViewModels.CreateTransaction

@{
    ViewData["Title"] = "Create a new transaction";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    @Html.ValidationSummary()

    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Transaction.Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Transaction.Title" class="form-control" />
                <span asp-validation-for="Transaction.Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Transaction.Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Transaction.Amount" class="form-control" />
                <span asp-validation-for="Transaction.Amount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Transaction.SelectedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Transaction.SelectedDate" class="form-control" />
                <span asp-validation-for="Transaction.SelectedDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Transaction.TransactionType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("Transaction.TransactionType", @Model.TransactionTypeId)
                <span asp-validation-for="Transaction.TransactionType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Transaction.TransactionSubTypeId" class="col-md-2 control-label"> Sub-Categories </label>
            <div class="col-md-10">
                <select asp-for="Transaction.TransactionSubTypeId"
                        asp-items="Model.TransactionSubTypeId"></select>
                <span asp-validation-for="Transaction.TransactionSubTypeId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>