@{
    ViewData["Title"] = "Home Page";
}
<h1 class="greet">Welcome to Week2Week</h1="greet">

<img src="~/images/poor-man.jpg" alt="ASP.NET" class="img-responsive" />
<div class="carousel-caption" role="option">
    <p>
        Tired of Being Broke

    </p>
</div>
