@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to Week2Week</h1>

<img src="~/images/poor-man.jpg" alt="ASP.NET" class="img-responsive" />
<div class="carousel-caption" role="option">
    <p>
        Tired of Being Broke

    </p>
</div>
